<div class="devise-auth">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

      <div class="field">
        <%= f.email_field :email, placeholder: 'Email', autofocus: true %>
      </div>

      <div class="field">
        <%= f.password_field :password, placeholder: 'Password', autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit 'Log in' %>
      </div>
  <% end %>
</div>

<%= render 'devise/shared/links' %>
